My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        -16
      ],
      "id": "1c9bc398-23fe-480e-8fb0-c39d3ca6ba1e",
      "name": "Schedule Trigger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -240,
        -16
      ],
      "id": "d3532bb7-bd01-4b50-92c7-3078d96fa4ed",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -48,
        80
      ],
      "id": "c67d224b-64ca-467f-80db-1056aa7d5f02",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.wired.com/feed/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -240,
        112
      ],
      "id": "657175e9-b5a1-494d-a9c8-2e9acf14778b",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -240,
        240
      ],
      "id": "4d2f8e38-1f13-4b91-8b52-8df0784ea93c",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        368,
        80
      ],
      "id": "6abbc173-8fe6-4452-b735-1096c73e872c",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the following articles and rate their relevance for a technology enthusiast:\n\n- List news in concise bullet points using Markdown format.\n- Group similar topics when possible.\n- For each news item, highlight the main takeaway in 1-2 sentences.\n- If multiple articles cover the same event, merge them into a single digest point.\n- Ignore irrelevant or duplicate entries.\n\nArticles:\n{{$json[\"combined_articles\"]}}\n\nPlease respond strictly in Markdown format with bullet points and clear headings so the summary can be directly used in an email body.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        816,
        80
      ],
      "id": "d00fa284-1c29-46ef-92e7-af3797169d8a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        224
      ],
      "id": "89fe5460-f891-48a4-a49c-d02b66d4f8af",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tsIUmhUor4MIM81C",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "html": "={{$json[\"text\"]}}\n",
        "destinationKey": "markdown_digest.",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1120,
        80
      ],
      "id": "2c92bec2-2dd6-4683-a36d-5d538d9ab1ab",
      "name": "Markdown"
    },
    {
      "parameters": {
        "sendTo": "22bec081@iiitdmj.ac.in",
        "subject": "Daily AI News Digest",
        "message": "={{$json[\"text\"]}}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1328,
        80
      ],
      "id": "dcdefbb3-fd40-4128-aca4-3d7ef4d811a4",
      "name": "Send a message",
      "webhookId": "d00565d4-e1ea-4b4f-8e3e-b0de94f1aa45",
      "credentials": {
        "gmailOAuth2": {
          "id": "YiK9fqQP79DcOFK3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70a7d277-5c0a-40f0-b5bd-fb15d8332bdb",
              "name": "combined_articles",
              "value": "={{$items(\"Limit\").map(item => item.json.title + \":\\n\" + item.json.link).join(\"\\n\\n\")}}",
              "type": "string"
            },
            {
              "id": "93bc06c1-54d1-4702-82b4-6c8b7aa7b94b",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        80
      ],
      "id": "346daae0-ace5-4ab8-8266-64e2fbc5c919",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "return items.sort(() => Math.random() - 0.5);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        80
      ],
      "id": "9d277e40-e5ce-45ea-88f1-d35b032a5b0b",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "9ee293ff-3fc8-4a42-81d6-2b6205d4ef3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4495f3e838e3075815db6a80515f1ae0b7fc50b2bdba40ba69c09253f5da3fc"
  },
  "id": "8iGeAMkDnwjtAn3M",
  "tags": []
}